<ul *ngIf="isLogin" class="nav flex-column p-4 bg-dark" style="height: 95vh">
  <li class="nav-item active">
    <a href="#" class="nav-link" routerLink="/users"><i class="fas fa-user-ninja"></i> Users </a>
  </li>
  <li class="nav-item active">
    <a href="#" class="nav-link"><i class="fas fa-chalkboard-teacher"></i> Leads </a>
  </li>
  <li class="nav-item active">
    <a href="#" class="nav-link"><i class="fas fa-chalkboard-teacher"></i> Leads </a>
  </li>
  <li class="nav-item active">
    <a href="#" class="nav-link"><i class="fas fa-chart-pie"></i> Reports </a>
  </li>
  <li class="nav-item active">
    <a href="#" class="nav-link"><i class="fab fa-product-hunt"></i> Products </a>
  </li>


</ul>
