<nav *ngIf="isLogin" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-cogs"></i> Prefrences</a>
      </li>
    </ul>
    <div class="float-right">
      <a class="navbar-brand -pull-right" href="#">Rabak <i class="fab fa-joomla"></i> Inc</a>
    </div>
  </div>
</nav>
